/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #ffffff;
  color: #210901;
  line-height: 1.6;
}

/* MAIN */
main {
  padding: 50px;
  margin: 0;
}

/* HEADER */
header {
  width: 100%;
  background: linear-gradient(90deg, #621708, #F6AA1C);
  padding: 20px 40px;
  box-shadow: 0 4px 6px #210901;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* NAV LINKS */
.header-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-links a {
  text-decoration: underline;
  color: #210901;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header-links a:hover {
  color: #941B0C;
}

/* INTRO */
.intro {
  background-color: #F6AA1C;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  border-radius: 12px;
}

.intro h1 {
  font-size: 48px;
  font-weight: bold;
  color: #210901;
}

.intro ul {
  list-style: none;
}

.intro ul li {
  font-size: 18px;
  color: #210901;
  margin-bottom: 8px;
}

/* CHANGE FILTERS */
.change-filters a {
  background-color: #FFFFFF;
  color: #621708;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.change-filters a:hover {
  background-color: #621708;
  color: #FFFFFF;
}

/* EXPERIENCE-SUMMARY */
.experience-summary {
  padding: 40px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #FFFFFF;
}

.experience-summary h2 {
  font-size: 36px;
  font-weight: bold;
  color: #210901;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.experience-details {
  display: flex;
  gap: 40px;
  align-items: center;
}

.restaurant-details {
  flex: 1;
}

.restaurant-name {
  font-size: 24px;
  font-weight: bold;
  color: #210901;
  margin-bottom: 10px;
  text-align: center;
}

.food-type {
  margin-bottom: 20px;
}

.restaurant-details p {
  color: #621708;
  line-height: 1.6;
  margin-bottom: 20px;
}

.items-included-order {
  list-style: none;
  margin-bottom: 20px;
}

.items-included-order li {
  margin-bottom: 5px;
  font-size: 16px;
  color: #210901;
}

/* RATING STYLE */
.rating-container {
  text-align: center;
  margin-bottom: 10px;
}

.rating {
  font-size: 20px;
  color: #F6AA1C;
}

/* SUMMARY BUTTONS */
.summary-buttons {
  display: flex;
  gap: 15px;
}

.book-now {
  background-color: #F6AA1C;
  color: #FFFFFF;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.book-now:hover {
  background-color: #621708;
  color: #FFFFFF;
}

.change-experience {
  background-color: #FFFFFF;
  color: #621708;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.change-experience:hover {
  background-color: #621708;
  color: #FFFFFF;
}

/* RESTAURANT CARD */
.restaurant-card {
  flex: 1;
}

.restaurant-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* REMOVE BORDERS IN BUTTONS */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* Responsive adjustments for Mobile*/
@media screen and (max-width: 768px) {
  header {
    padding: 10px 15px;
    flex-direction: column;
  }

  .intro {
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }

  .intro h1 {
    font-size: 40px;
  }
}
