   
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    body {
        font-family: Roboto, Arial, sans-serif;
        background: url('../images/background.jpg') no-repeat center center fixed; 
        background-size: cover; 
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }

    
    .header-bar {
        width: 100%;
        background: linear-gradient(90deg, #621708, #F6AA1C);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 60px;
        position: fixed; 
        top: 0; 
        z-index: 1000; 
    }

    .header-bar .logo {
        display: block;
        width: 45px;
        height: auto;
    }

    .logo-image {
        width: 45px;
        height: auto;
        border-radius: 10px;
    }

    .header-options {
        display: flex;
        gap: 15px;
    }

    .header-options a {
        color: #621708;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .header-options a:hover {
        color: #210901;
    }


    .container {
        width: 80%;
        margin: 100px auto 60px auto; 
        display: flex;
        justify-content: space-between; 
        background-color: #FFFFFFCC; 
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 4px 8px #666666;
    }

    /* Contact ve About Us  */
    .contact, .content {
        width: 48%; 
    }

    .contact h1, .content h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #621708;
    }

    .content h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #621708;
    }

    .content p, .contact label {
        color: #222;
        font-size: 17px;
        line-height: 1.4;
    }

    /* Form  */
    label {
        display: block;
        margin-top: 12px;
        margin-bottom: 5px;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
        margin-bottom: 15px;
        font-size: 16px;
    }

    button {
        font-size: 17px;
        background-color: #F6AA1C;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #621708;
    }

    
    .social-media {
        margin-top: 20px;
        display: flex;
        gap: 15px;
    }

    .social-icon {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease;
    }
    /* large icon*/
    .social-icon:hover {
        transform: scale(1.1); 
    }

    /* MOBILE*/
    @media screen and (max-width: 768px) {
        .container {
            flex-direction: column; 
            align-items: center;
        }

        .contact, .content {
            width: 100%; 
        }
    }
